/.AbsDescriptionLabelProvider.java._trace
/.AbsLabelProvider.java._trace
/.DeltaToFeature.java._trace
/.AbsLabelProvider.xtendbin
/AbsLabelProvider.java
/.AbsDescriptionLabelProvider.xtendbin
/AbsDescriptionLabelProvider.java
